/**
 * GLOBAL
 */
 
 .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.top-padding {
  padding: 40px 0 0 0;
}

/**
 * HEADER SECTION
 */

.header {
  border-bottom: 1px solid #ccc;
  padding: 0 0 6px 0;
}

.header img {
  width: 150px;
  float: left;
}

.header p {
  padding: 80px 0 0 200px;
  font-size: 64px;
  font-family: sans-serif;
}

/**
* MAIN CONTENT SECTION
*/
.content p{
  font-size: 18px;
  padding: 0 0 30px 0;
  line-height: 20px;
}

.content h2{
  font-size: 24px;
  padding: 0 0 30px 0;
  line-height: 28px;
}

.indicator h3{
  font-size: 16px;
  color: #990000;
}

.indicator-container {
  width: 100%;
  height: 10px;
  background: #ccc;
}

.indicator-bar {
  height: 10px;
  background: #4caf50;
  width: 0%;
}

/**
* FOOTER SECTION
*/
.footer {
  border-top: 1px solid #ccc;
  margin: 200px 0 0 0;
  padding: 0 0 20px 0;
}

.footer .copyright{
  padding: 20px 0 10px 0;
}

/** 
 *media query 
 */

/* Mobile Styles */
@media only screen and (min-width: 320px) and (max-width: 559px) {
  body {
    width: 90%;
    margin: 0 auto;
  }

  .header p {
    padding: 74px 0 0 120px;
    font-size: 20px;
  }

  .header img {
    width: 100px;
    height: 100px;
  }

  .indicator {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 90%;
    background-color: #f1f1f1;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 560px) and (max-width: 1079px) {
  body {
    width: 80%;
    margin: 0 auto;
  }

  .header p {
    padding: 95px 0 0 200px;
    font-size: 48px;
  }

  .indicator {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 80%;
    background-color: #f1f1f1;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 1080px) {
  body {
    width: 1080px;
    margin: 0 auto;
  }

  .indicator {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 1080px;
    background-color: #f1f1f1;
  }
}
